/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

/* Базовые стили */
* {
    box-sizing: border-box;
}

/* Переменнная */
:root {
    --container-max-width: 1260px;
}

html,
body {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    background: transparent;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

.container {
    max-width: var(--container-max-width);
    padding: 0px 40px;
    margin: 0px auto;
}