/* BUTTON */
.btn {
    border: none;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s;
}

.btn_theme_transparent {
    background-color: transparent;
    border: 1px solid #1E92E7;
    color: #000000;
}

.btn_theme_blue {
    /* Внутренний отступ по меньшей кнопке (примерный отступ) */
    background: #1E92E7;
    color: #FFFFFF;
}

.btn_size_big {
    padding: 14px 20px;
}

.btn_size_small {
    padding: 9px 20px;
}

.btn.active {
    background: #1E92E7;
    color: #FFFFFF;
}

.btn:hover {
    background-color: #187fc9;
    color: #FFFFFF;
}

/* ------ СТРЕЛКИ СЛАЙДЕРА -------- */

/* Блок под стрелки */
.control {
    font-size: 0px;
    position: absolute;
    z-index: 100;
}

/* Стрелку рисуем через псевдоэлемент */
.control::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #7A7A7A;
    border-top: none;
    border-right: none;

    /* Плавность изменения состояния */
    transition: all 0.3s;
}

/* Стили при наведении на стрелку */
.control:hover::before {
    border-color: #1E92E7;
}

/* Стрелка назад */
.control_prev {
    transform: rotate(45deg);
}

/* Стрелка вперед */
.control_next {
    transform: rotate(-135deg);
}

/* Стрелка уголком */
.control_type_triangle::before {
    top: 0;
    left: 0;
}

/* Модифицируем стрелку в круглую */
.control_type_disc {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

/* Изменяем размер стрелки если она находится в круге */
.control_type_disc::before {
    width: 25%;
    height: 25%;
    border-color: #1E92E7;
}

/* При наведении на кнопку - меняем фон кнопки */
.control_type_disc:hover {
    background: #caced1;
}


/******** БУЛЛЕТЫ ДЛЯ СЛАЙДЕРА ********/

.slider-indicators {
    width: 100%;
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.gallery__slider-indicators {}

.slider-indicator {
    /* Запрещаем буллету расширяться (flex-grow: 0), разрешаем ужиматься (flex-shrink: 1), устанавливаем базовый размер (flex-basis: 73px) */
    flex: 0 1 73px;
    background: #D9D9D9;
    /* Высота буллета */
    height: 3px;
    /* Скругляем углы */
    border-radius: 1px;
    /* Если не установить данное свойство то углы не скруглятся */
    overflow: hidden;
}

.slider-indicator.active {
    background: #1E92E7;
    border-radius: 1px;

}