/* Контакты */
.contacts {
    /* Переменная для ширины левого цвета фона и декоративного изображения */
    --contacts-left-col: 54vw;
    padding: 120px 0px;
    /* Двухцветный фон создаем при помощи градиента */
    background: linear-gradient(90deg, #2C3B45 0, #2C3B45 var(--contacts-left-col), #1E92E7 var(--contacts-left-col));
    /* Относительно секции будем позиционировать декоративное изображение */
    position: relative;
}

/* Декоративное изображение */
.contacts::before {
    /* Без этого не появится псевдоэлемент */
    content: "";
    /* По умолчанию псевдоэлемент - строчный */
    display: block;
    /* Будет позиционировать относительно секции */
    position: absolute;
    /* Используем нашу переменную для ширины */
    width: var(--contacts-left-col);
    top: 0;
    left: 0;
    height: 100%;
    /* Само изображение помещаем на фон */
    background: url(../../img/contacts/decor.svg) no-repeat bottom right / cover;
}

/* Контейнер секции */
.contacts__container {
    /* Располагаем элементы в строку */
    display: flex;
    /* Размещаем элементы по всему блоку */
    justify-content: space-between;
    /* Расстояние между колонками и рядами в flex-контейнере */
    gap: 60px;
}

/* Разрешаем блоку с контактами растягиваться если есть свободное место, запрещаем ужиматься */
.contacts__content {
    flex: 1 0 auto;
    /* Если не установить индекс - псевдоэлемент перекроет этот блокБлок с днями и временем */
    z-index: 10;
}

/* Заголовок секции */
.contacts__title {
    color: #FFFFFF;
    margin-bottom: 51px;
}

/* Блок который слева */
.contacts__info {
    margin-bottom: 84px;
}

/* Блок с контактами */
.contacts-list {}

.contacts-item {
    display: flex;
    align-items: center;
    column-gap: 15px;
    /* Отступ между элементами */
    margin-bottom: 30px;
}

/* Убираем отступ у последнего элемента */
.contacts-item:last-child {
    margin-bottom: 0;
}

/* Размеры картинки возле контакта */
.contacts-item__icon {
    width: 30px;
    height: 30px;
}

/* Текст контакта */
.contacts-item__link {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

/* Блок ВРЕМЯ РАБОТЫ */
.work-hours {}

/* Текст ВРЕМЯ РАБОТЫ */
.work-hours__desc {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

/* Блок с днями и временем */
.work-hours__info {
    background: #404F59;
    border-radius: 5px;
    min-height: 50px;
    padding: 5px 5px 5px 15px;
    display: inline-flex;
    align-items: center;
    column-gap: 15px;
}

/* Блок Пн - Вс */
.work-hours__day {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    color: #1E92E7;
}

/* Блок 8:00 – 22:00 */
.work-hours__time {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #2C3B45;
    border-radius: 5px;
    display: block;
    padding: 6px 20px;
}

/* Блок с картой */
.contacts__map {
    /* 623/1180 = 52.8 */
    flex: 0 1 52.8%;
}

/* Изображение карты */
.contacts__map-img {
    /* Ширина и высота как у родителя */
    width: 100%;
    height: 100%;
    /*  Масштабирует картинку так, чтобы она накрыла собой весь блок с сохранением пропорций. 
    Картинка будет стараться поместиться целиком, но это не всегда будет получаться, 
    поэтому какая-то ее часть будет обрезаться. Блок всегда будет покрыт картинкой целиком. */
    object-fit: cover;
}