/* УСЛУГИ */

/* Стили секции */
.services {
    /* Задаем фоновый цвет как в макете */
    background-color: #F8F8F8;
    /* Внутренние отступы для секции (по макету) */
    padding: 90px 0px 120px;
}

/* Шапка секции (заголовок и логотип) */
.services__header {
    display: flex;
    /* Размещаем заголовок секции и логотип по разным краям секции */
    justify-content: space-between;
    /* Выравниваем элементы по центру поперечной оси*/
    align-items: center;
    margin-bottom: 50px;
}

/* Меняем прозрачность картинки логотипа */
/* Если логотип вложен в секцию services то задаем ему прозрачность - 40% */
.services .logo__img {
    opacity: 0.4;
}

/* Меняем цвет текста логотипа */
.services__logo .logo__title {
    color: rgba(0, 0, 0, 0.4);
}

/* Список услуг */
.services__list {
    display: flex;

    /* если элементы не помещаются во flex-контейнер, то создает дополнительные ряды в контейнере 
    для размещения элементов. При расположении в виде строки содаются дополнительные строки, 
    а при расположении в виде столбца добавляются дополнительные столбцы */
    flex-wrap: wrap;

    /* Равномерно распределяет все элементы по ширине flex-блока.
    Первый элемент вначале, последний в конце */
    justify-content: space-between;

    /* Расстояние между строками контейнера 
    Расстояние между колонками не задаем, так как ниже мы установили такую процентную шириину 
    элементами чтобы они никогда не приблизились друг к другу*/
    row-gap: 20px;
}

/* Отдельная услуга */
.service {

    /* Ширину элемента браузер рассчитает автоматически ((Ширина родителя - сумма отступов между элементами) / количество элементов) */
    width: calc((100% - 40px) / 3);
    display: flex;
    /* Задаем минимальную высоту как в макете. Если контента внутри будет больше то высота увеличится */
    min-height: 172px;
    /* Тень блока */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    /* Скрывать все что выходит за пределы блока.
    Если не установить - не скруглятся левые углы, из-за того что внутри находится блок с нескругленными углами.
    */
    overflow: hidden;
}

/* Иконка услуги (слева) */
.service__img {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C3B45;

    /* Запрещаем картинке ужиматься */
    flex-shrink: 0;
}

/* Блок с описанием услуги */
.service__content {
    padding: 30px 40px 30px 20px;
}

/* Заголовок блока с преимуществами */
.service__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #000000;
    margin-bottom: 15px;
}

/* Список преимуществ*/
.service__list {
    /* Отступ от родительского padding до текста.
    inherit устанавливает такое же значение как у родителя.
    */
    padding-left: inherit;
}

/* Элемент списка преимуществ */
.service__item {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #9C9C9C;
    /* Возвращаем списку точки */
    list-style-type: disc;
}